body {
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
    background-color: #fafafa;
    color: #090909;
    min-height: 100vh;
}

/*Typography*/

p {
    font-size: 1rem;
}

.title {
    margin-left: 0.5em;
}

/*Nav Styling*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
    font-weight: 600;
    text-align: center;
}

ul {
    display: flex;
    gap: 1em;
    margin: 0;
}

.left-section, .right-section{
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

/*Hero Styling */

.hero {
    background: url('images/article-image-hero.png');
    background-size: cover;
    color: #ffffff;
    line-height: 1.3;
    padding: 2em 1em;
    text-shadow: 1px 1px #090909;
}

.hero-date {
    font-size: 0.75em;
}

.hero-title {
    line-height: 1.2;
    margin: 1.5em 0;
}

/*articles container */

.container {
    width: 90%;
    max-width: 900px;
    margin:0 auto;
    padding-top: 1.5em;
}

.article-img {
    width: 100%;
    
}

/*Footer*/

footer {
    background-color: #202020;
    color: #fafafa;
    text-align: center;
    width: 100%;
}
footer p {
    font-size: 0.8rem;
    padding: 0.7em;
    margin: 0;
}

/*Media querys */

@media (min-width: 480px) {
    .posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1em;
    }
    .posts article {
        flex: 1 220px;
    }
}

@media(min-width: 700px) {
    nav {
        padding-top: 1.3em;
        margin:0 3.5em
    }

    ul {
        gap: 2em
    }

    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .posts article {
        flex-basis: 230px;
    }

    .posts {
        gap: 5em;
    }
    .hero-title,
    .hero-body,
    .hero-date {
        max-width: 750px;
        text-align: start;
    }

    body, li {
        font-size: 1.2rem;
    }

    p, .hero-date {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2.4rem;
    }
}