body {
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    color: #090909;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0.8em;
    font-weight: 600;
}

.left-section {
    display: flex;
    align-items: center;
}
.title {
    margin-left: 0.5em;
}
ul {
    display: flex;
    text-align: center;
}

li {
    list-style: none;
    font-size: 0.8rem;
}

ul {
    gap: 1em;
}

.hero {
    border: 1px solid black;
    background: url('images/article-image-hero.png');
    background-size: cover;
    color: #ffffff;
    line-height: 1.5;
    padding: 0 0.8em;
}

.hero-date {
    margin-top: 5em;
    font-size: 0.75em;
}

.hero-title {
    line-height: 1.2;
}

/*articles container */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1.5em;
}

.article-img {
  width: 100%;
}